<header>
    <nav>
        <ul>
            <li><a href="/products">HOME</a></li>
            <li><a href="/products/brand/audi">BRAND</a></li>
            <li><a href="/products/color/black">Buscar por Color</a></li>
            <li><a href="/products/model/scirocco">Buscar por modelo</a></li>
            <li><a href="/products/year/2020">Buscar por modelo</a></li>
        
        </ul>
    </nav>
</header>