<header>
    <nav>
        <li><a href="/products">Home</a></li>
        <li><a href="/products/brand/audi">Buscar por marca</a></li>
        <li><a href="/products/color/black">Buscar por color</a></li>
    </nav>
</header>